@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color: black;
}

/* For WebKit browsers (Chrome, Safari) */
::-webkit-scrollbar {
    display: none;
}

::-webkit-scrollbar-track {
    display: none;
    background: #000;
}

::-webkit-scrollbar-thumb {
    display: none;

    background-color: #555;
    border-radius: 10px;
    border: 2px solid #000;
}

* {
    scrollbar-width: thin;
    scrollbar-color: #555 #000;
}

body {
    -ms-overflow-style: -ms-autohiding-scrollbar;
}

::-ms-scrollbar {
    width: 8px;
}

::-ms-scrollbar-track {
    background: #000;
}

::-ms-scrollbar-thumb {
    background-color: #555;
    border-radius: 10px;
    border: 2px solid #000;
}
